.money-page__content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.money-page__title {
  margin-bottom: 1.5rem;
  color: var(--color-accent);
}

.money-page__earned {
  margin-bottom: 5rem;
}

.money-page__balance-text {
  margin-bottom: 0.5rem;
}

.money-page__balance-block {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.money-page__earned-amount {
  color: var(--color-text-muted);
}

.money-page__balance-withdraw {
  padding: 2rem 2.6rem;
  background-color: var(--color-surface-panel);
  color: var(--color-accent);

  &:disabled {
    opacity: 0.7;
  }
}

.money-page__table {
  width: 100%;
  display: flex;
}

.money-page__table-part {
  width: 50%;
}

.money-page__table-title {
  font-weight: 400;
  margin-bottom: 3.5rem;
}

.money-page__withdraw-method {
  max-width: 44.1rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-block: 1.45rem;
  position: relative;
}

.money-page__withdraw-icon {
  width: 3rem;
  height: 3rem;
}

.money-page__withdraw-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.money-page__withdraw-name {
  overflow-wrap: break-word;
  word-break: break-word;
  min-width: 0;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 3.3rem;
  font-family: "Plus Jakarta Sans";
  text-wrap: wrap
}

.money-page__withdraw-currency {
  font-weight: 400;
  color: var(--white-50);
}

.money-page__withdraw-plus-figure {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--color-surface-soft);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-radius var(--transition-timing);

  &:not(:disabled):hover {
    border-radius: var(--hover-radius);
  }
}

.money-page__withdraw-plus-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.money-page__withdraw-method+.money-page__withdraw-method::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0.1rem;
  width: calc(100% - 4.6rem);
  background-color: var(--color-line-soft);
}

@media screen and (max-width: 1200px) {
  .money-page__content {
    padding: 1rem;
  }

  .money-page__title {
    font-size: 3.25rem;
    line-height: 3.33rem;
  }

  .money-page__balance-block {
    justify-content: space-between;
  }

  .money-page__table {
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .money-page__table-part {
    width: 100%;
  }

  .money-page__withdraw-method {
    max-width: unset;
  }
}